* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}


.sectionMain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(13, 13, 14), rgb(13, 13, 14) );
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}


.divlogotitle, .ulNav {
    display: flex;
    flex-direction: row;
}

.divlogotitle, .ulNav {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.ulNav {
    list-style-type: none;
    
}


.linav {
    margin: 2rem;
    
}

.imglogo {
    max-width: 50px;
    border-radius: 50%;
}

.h1title {
    margin-left: 1rem;
}
































