.divlogotitle {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}


.sectionMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #674483;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.divlogotitle{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.imglogo {
    max-width: 50px;
    border-radius: 50%;
}

.h1title {
    margin-left: 1rem;
    color: white;
}
.navbar{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body{
    background-color: #F4EEE0;
}

.link {
    text-decoration: none;
    color: #F4EEE0;
}

.item {
    margin-right: 6rem;
    padding: 5px 15px;
    border-radius: 100px;
}

.item:hover{
    background-color: #4d3466;
}

.item:active{
    transform: scale(0.97);
}

.palabra1{
    font-family: 'Dosis', sans-serif;
    color: #393646;
    position: absolute;
    top: 250px;
}

.palabra2{
    font-family: 'Dosis', sans-serif;
    color: #393646;
    position: absolute;
    top: 30%;
    left: 48%;
    font-size: 80px; 
    opacity: 40%;
}

.palabra3{
    font-family: 'Dosis', sans-serif;
    color: #393646;
    position: absolute;
    top: 40%;
    left: 46%;
    font-size: 80px;
    opacity: 40%;
}

.pad1{
    position: absolute;
    top: 20%;
    left: 70%;
    max-width: 200px;
}

.pad2{
    position: absolute;
    top: 30%;
    left: 85%;
    max-width: 200px;
}

.pad3{
    position: absolute;
    top: 50%;
    left: 65%;
    max-width: 200px;
}

.pad4{
    position: absolute;
    top: 60%;
    left: 80%;
    max-width: 200px;
}
.comprar{
    display: flex;
    justify-content: center;
    align-items: row;
}

.boton{
  color: #F4EEE0;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
}


button{
    position: absolute;
    top: 42%;
    left: 1%;
    background-color: #4F4557;
    padding: 10px 30px;
    border: none;
    color: #F4EEE0;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
    transition: all 0.2 ease;
    overflow: hidden;
}

button:active{
    transform: scale(0.96);
}

button:hover{
    color: #fff;
}

button span{
    position: absolute;
    background: #07c0ee;
    transition: .5s;
}

button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1){
    left: 0;
}

button:hover span:nth-child(2){
    right: 0;
}

button:hover span:nth-child(3){
    bottom: 0;
}

button:hover span:nth-child(4){
    top: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/*.dropdown-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}*/

.dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: -17px;
    background-color: #4F4557;
    width: 100px;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown-item {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
    color: #F4EEE0;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #8965ac;
    color: aquamarine;
}


























